  /*Hinweis: Es gibt noch embedded css im Header*/
  /* font smoothing */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }